.background {
    background-color: #e5e5f7;
    background-image: linear-gradient(#444cf7 2px, transparent 2px), 
                      linear-gradient(90deg, #444cf7 2px, transparent 2px), 
                      linear-gradient(#444cf7 1px, transparent 1px), 
                      linear-gradient(90deg, #444cf7 1px, #0e0eff 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .innerBackground {
    width: 80%;
    max-width: 70rem;
    background-color: white;
    margin: auto;
    min-height: 100vh;
    box-shadow: black 0px 0px 10px, black 0px -10px 10px inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main{
    margin: 0 2rem;
    color: black;
  }

  @media only screen and (max-width: 900px) {
    .innerBackground{
      width: 90%;
    }
    .main{
      margin: 0 1rem;
    }
}